/* src/MiniAppMain.css */
.miniapp-container {
    font-family: Arial, sans-serif;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-image: url('./images/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.tournament-title {
    color: white;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 80px;
    width: 50%;
    text-align: center;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.buttons-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 300px;
}

.miniapp-button {
    background-color: #ea5558;
    color: white;
    padding: 15px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    transition: background-color 0.3s;
}

.miniapp-button:hover {
    background-color: #d04a4d;
}
