.registration {
    font-family: Arial, sans-serif;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; /* Распределяем пространство между элементами */
    height: 100vh;
    text-align: center;
    background-image: url('./images/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.registration-header {
    margin-top: 20px;
    color: #ddd;
    width: 100%;
    position: relative;
}

.vectorImage {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%); 
    height: 30px; /* Фиксированный размер иконки */
    width: 30px;
}

.registration-input {
    width: 80%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-top: 60%;
    font-size: 16px;
}

.registration-button {
    width: 80%;
    margin-bottom: 20%;
    padding: 12px;
    background-color: #ea5558;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

/* Стили для модального окна подтверждения остаются без изменений */
.confirmation-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.confirmation-modal {
    background-color: #39485b;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: white;
    width: 80%;
    max-width: 300px;
}

.confirmation-modal p {
    margin-bottom: 20px;
}

.confirmation-buttons {
    display: flex;
    justify-content: space-between;
}

.confirm-button, .cancel-button {
    background-color: #ea5558;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    flex: 1;
    margin: 0 5px;
}